<!DOCTYPE html>
<html>
  <head>
    <title>Goldy's Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Goldy's project</h1>
  <p>Welcome to My Project!</p>
  <%= link_to "Home", root_path %>
  <%= link_to "Search", search_path %>
  <%= link_to "About", about_path %>
  <%= link_to "Login", articles_path %>

    <%= yield %>
  </body>
</html>
